body {
    margin: 0;
    background-color: violet;
}

ul li {
    display: inline;
}

img{
    max-width: 100%;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1650px;
}

nav{
    padding: 20px;
    background: rgb(0, 98, 128);
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-download {
    text-decoration: none;
    background-color: grey;
    border-radius: 7px;
    padding: 20px;
    font-size: 15px;
}

.desc {
    text-align: center;
}

.ror {
    background-color: aqua;
    color: black;
    border-radius: 10px;
    padding: 20px;
}

.miaw {
    background-color: aqua;
    color: black;
    border-radius: 10px;
    padding: 20px;
}

.guk {
    background-color: aqua;
    color: black;
    border-radius: 10px;
    padding: 20px;
}

.kiw {
  color:red;
}